thead tr th {
	text-align: center;
	vertical-align: middle;
}

input[type="number"] {
	text-align: right !important;
}

#total {
	text-align: right !important;
}

#zera {
	border-radius: 100%;
}

.subtitulo {
	background-color: #006 !important;
	color: white !important;
	text-align: center;
}

.nota {
	padding-left: 8pt;
	padding-right: 8pt;
}
