thead tr th {
	text-align: center;
	vertical-align: middle;
}

#mensagens {
	margin-top: 1rem;
}

input[type="number"] {
	text-align: right !important;
}

#total {
	text-align: right !important;
}

.quantidade div {
	margin-bottom: 0 !important;
}

#zera {
	border-radius: 100%;
}
